<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xinyang.calendarview" >

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="DATABASE"
            android:value="calendar.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.xinyang.calendarview.calendar.model" />
        <activity
            android:name=".calendar.activity.CalendarActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleBarTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".calendar.activity.AddScheduleActivity"
            android:label="@string/title_activity_add_schedule"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleBarTheme" >
        </activity>

        <receiver
            android:name=".calendar.activity.AlarmReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>

        <activity
            android:name=".calendar.activity.RepeatActivity"
            android:label="@string/title_activity_repeat"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleBarTheme" >
        </activity>
    </application>

</manifest>
